@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary-50: #e6f3eb;
  --color-primary-100: #b0d9c0;
  --color-primary-200: #8ac6a1;
  --color-primary-300: #54ad76;
  --color-primary-400: #339d5c;
  --color-primary-500: #008433;
  --color-primary-600: #00782e;
  --color-primary-700: #005e24;
  --color-primary-800: #00491c;
  --color-primary-900: #003715;

  --color-secondary-50: #e6eaee;
  --color-secondary-100: #b0becb;
  --color-secondary-200: #8a9eb2;
  --color-secondary-300: #54728f;
  --color-secondary-400: #335679;
  --color-secondary-500: #002c58;
  --color-secondary-600: #002850;
  --color-secondary-700: #001f3e;
  --color-secondary-800: #001830;
  --color-secondary-900: #001225;

  --color-gray-50: #f6f7f9;
  --color-gray-100: #edeef2;
  --color-gray-200: #dcdee6;
  --color-gray-300: #bbbfcc;
  --color-gray-400: #9ea2b3;
  --color-gray-500: #838799;
  --color-gray-600: #6b6f80;
  --color-gray-700: #545766;
  --color-gray-800: #3e414c;
  --color-gray-900: #292b33;

  --color-black: #030303;
  --color-white: #ffffff;
}

* {
  font-family: Montserrat !important;
}

.dentalook-bg {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('../common/assets/images/dentalook.png');
}

.step::before {
  top: 25;
  left: 12px;
  width: 2px;
  content: '';
  height: 50px;
  position: absolute;
  background-image: url('../common/assets/svg/dashed-line.svg');
}

.proud-moment label > span {
  line-height: 18px;
  white-space: break-spaces;
}

/* Ant form */
.ant-form-item-label > label::before,
.ant-form-item-label > label::after {
  display: none !important;
}

.ant-input-disabled,
.ant-picker-disabled input,
.ant-select-disabled .ant-select-selector {
  color: #171717 !important;
}

.ant-checkbox-disabled .ant-checkbox-inner::after {
  border-color: #171717 !important;
}

.ant-checkbox-disabled .ant-checkbox-inner {
  background: rgba(0, 0, 0, 0.04) !important;
}

.ant-form-item-explain-error {
  font-size: 12px;
}

.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #339d5c !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #339d5c !important;
  background-color: #339d5c !important;
}

.ant-radio-wrapper .ant-radio-label {
  color: #777b8b;
}

.ant-radio-wrapper .ant-radio-disabled .ant-radio-inner::after {
  background-color: white !important;
}

.ant-table-wrapper .ant-table-container {
  border: none !important;
}

/* Ant table */
.ant-table-wrapper table {
  /* border-radius: 8px; */
  border: 1px solid #f0f0f0;
}

.ant-table-thead > tr > th {
  font-size: 15px;
  border: none !important;
  padding: 8px !important;
  font-weight: 500 !important;
  color: #373940 !important;
  background-color: #f3f3f5 !important;
}

.ant-table-tbody > tr > td {
  font-size: 15px;
  padding: 6px !important;
  border: none !important;
  color: #777b8b !important;
  border-bottom: 1px solid #f0f0f0 !important;
}

.ant-table .ant-table-tbody > tr:hover > td {
  background: inherit !important;
}

.ant-table-tbody > tr:last-child > td {
  border-bottom: none !important;
}

.ant-table-placeholder {
  z-index: 1 !important;
}

.ant-table .ant-table-tbody .ant-input,
.ant-table .ant-table-tbody .ant-select,
.ant-table .ant-table-tbody .ant-picker {
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 0;
  line-height: normal;
  border: 1px solid #d9d9d9 !important;
}

/* .ant-table .ant-table-tbody .ant-input {
  width: 30%;
} */

.ant-table .ant-table-tbody .ant-select-selector {
  padding: 0 !important;
  border: none !important;
  height: 100% !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.ant-table .ant-table-tbody .ant-input:focus,
.ant-table .ant-table-tbody .ant-picker:focus,
.ant-table .ant-table-tbody .ant-input-focused,
.ant-table .ant-table-tbody .ant-picker-focused {
  box-shadow: none;
}
.ant-table .ant-table-tbody .ant-input:hover,
.ant-table .ant-table-tbody .ant-select:hover {
  box-shadow: 0px 0px 0px 2px #7db02d33;
}

.ant-table-footer {
  font-size: 15px;
  font-weight: 500;
  padding: 0 !important;
  color: #373940 !important;
  background: #e6eaee !important;
}

.ant-table .ant-table-tbody input[type='number']::-webkit-outer-spin-button,
.ant-table .ant-table-tbody input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ant-table .ant-table-tbody input[type='number'] {
  -moz-appearance: textfield;
}

/* Ant modal */
.ant-modal-content {
  padding: 0 !important;
}

.ant-modal-header,
.ant-modal-footer {
  margin: 0 !important;
}

.ant-modal-content .ant-modal-body {
  padding: 16px;
  border-top: 1px solid #e6eaee;
  border-bottom: 1px solid #e6eaee;
}

.ant-tabs-nav::before {
  display: none;
}

.ant-tabs .ant-tabs-tab {
  font-weight: 500;
  color: #030303;
  padding: 6px 0 !important;
  margin-left: 20px !important;
}

.ant-tabs .ant-tabs-tab-active {
  font-weight: 700;
  border-bottom: 2px solid #339d5c;
}

.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab-btn:active {
  color: #339d5c !important;
}

.ant-tabs .ant-tabs-tab:hover {
  color: #339d5c !important;
  border-bottom: 2px solid #339d5c;
  transition: color all 0.3s, border-bottom all 0.3s, padding all 0.3s;
}

.ant-tabs .ant-tabs-ink-bar {
  display: none !important;
}

/* Custom green checkbox styles */
.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #339d5c; /* Ant Design green-6 */
  border-color: #339d5c;
}

.custom-checkbox .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.custom-checkbox .ant-checkbox:hover .ant-checkbox-inner,
.custom-checkbox .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #339d5c;
}

.custom-checkbox .ant-checkbox-checked::after {
  border-color: #339d5c;
}

/* .hide-ok-button .ant-picker-footer .ant-picker-ok button {
  display: none !important;
}

.hide-ok-button .ant-picker-footer {
  padding: 0;
  min-height: 0;
  border: none;
} */
